<ion-header>
  <ion-navbar>
    <ion-title>
      サムネイル一覧aa
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid [style.height.px]="mImageHeight">
    <ion-row style="height:100%;">
      <ion-col col-5 style="overflow-y: auto;height: 100%;" (scroll)="onCategoryListScroll($event)">
        <ion-list>
          <ion-item *ngFor="let item of mItems" [class.selected]="item.Selected">
            <ion-thumbnail item-start>
              <img src="img/thumbnail-totoro.png">
            </ion-thumbnail>
            <h2 text-wrap>{{item.Category.Name}}</h2>
            <button ion-button item-end (click)="onClick_CategoryContentItem(item, item.Category)" *ngIf="item.IsContent">表示</button>
            <button ion-button clear item-end (click)="onClick_CategoryItemContainer(item.Category)" *ngIf="item.IsSubCaetgory">
              <ion-icon name="folder-open"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
        <ion-spinner name="bubbles" *ngIf="mCategoryListLazyLoadSpinner"></ion-spinner>
      </ion-col>
      <ion-col col-7 style="overflow-y: auto;height: 100%;">
        <ion-grid>
          <ion-row>
            <ion-col col-12 col-sm-6 col-md-3 *ngFor="let image of mContentItems">
              <div class="image-container" (click)="onClick_ContentItemContainer(image.Content)" [style.background-image]="'url('+image.Content.ThumbnailImageSrcUrl+')'"></div>
              <div style="text-align: center">{{image.Content.Name}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
