page-preview {
    .scroll-content {
        overflow: hidden;
    }

    .preview-container {
        position: relative;
        height: auto;
        min-height: 100%;
    }

    ion-img {
        object-fit: scale-down;
        contain: content;

        //display: block;
        margin: 0 auto;
        //width: 45%;
        //height:100%; 
        //width:auto;
    }

    .slide-zoom {
        height: 100%;
    }
}